$themes: (
  "dark": (
    colorPrimary: #ffffff,
    colorSecondary: #080d20,
    bgMain: #080d20,
    bgPrimary: #313960,
    bgSecondary: #425183,
  ),
  "light": (
    colorPrimary: #080d20,
    colorSecondary: #ffffff,
    bgMain: linear-gradient(180deg, #f0e6f4 0%, #b3d8e1 100%),
    bgPrimary: #42b2e1,
    bgSecondary: #425183,
  ),
);

$radiusL: 10px;
$buttonBgPrimary: linear-gradient(
  to right,
  #ab57ec 0%,
  #9726ed 50%,
  #2aabe4 100%
);
$buttonColorPrimary: #ffffff;

@mixin themed() {
  @each $theme, $map in $themes {
    :global(.theme--#{$theme}) & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@mixin themed() {
  @each $theme, $map in $themes {
    :global(.theme--#{$theme}) & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key: "colorPrimary") {
  @return map-get($theme-map, $key);
}
