@import "theme";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  font-family: Robo;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global(.rendered) {
  animation: none;
}
.rendered {
  animation: none;
}

:global(.theme--dark) {
  color: map-get(map-get($themes, "dark"), "colorPrimary");
  overflow-y: auto;
  background: map-get(map-get($themes, "dark"), "bgMain");
}

:global(.theme--light) {
  color: map-get(map-get($themes, "light"), "colorPrimary");
  overflow-y: auto;
  background: map-get(map-get($themes, "light"), "bgMain");
}
.theme--dark {
  color: map-get(map-get($themes, "dark"), "colorPrimary");
  overflow-y: auto;
  background: map-get(map-get($themes, "dark"), "bgMain");
}

.theme--light {
  color: map-get(map-get($themes, "light"), "colorPrimary");
  overflow-y: auto;
  background: map-get(map-get($themes, "light"), "bgMain");
}
