@import "../../../styles/theme";

.Wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.Filters {
  width: 100%;
  height: 100%;
  gap: 8px;
  align-items: center;
  border-radius: $radiusL;
  position: relative;

  @include themed {
    background: t("bgPrimary");
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
  }
}

.Dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
  top: 0;
  right: -8px;
  border-radius: 50% 50%;
}

.FiltersModal {
  width: 100%;
  max-width: 340px;
  height: 300px;
  overflow: auto;
  position: absolute;
  list-style: none;
  z-index: 5;
  top: -308px;
  border-radius: $radiusL;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;

  &__inactive {
    @extend .FiltersModal;
    height: 0;
    top: -8px;
    visibility: hidden;
  }

  @include themed {
    background: t("bgPrimary");
  }
}

.FiltersItem {
  padding: 16px;
  cursor: pointer;
  border-bottom: 1px solid #5c69ac;
  display: flex;
  justify-content: space-between;

  &:hover {
    background-color: #5c69ac;
  }

  &__active {
    @extend .FiltersItem;
    background-color: #5c69ac;
  }
}

.FiltersItem:last-of-type {
  border: none;
}
