@import "../../styles/theme";

.Wrapper {
  width: 100%;
  height: 100%;
  padding: 32px;
  display: flex;
  gap: 28px;
  align-items: center;
  justify-content: center;
  border-radius: $radiusL;

  @include themed {
    background: t("bgPrimary");
  }
}
