@import "theme";
@import "components";

.Wrapper {
  @extend .BentoBox;
  display: grid;
  gap: 22px;
  border-radius: $radiusL;
  padding: 22px;

  a {
    flex-shrink: 0;
  }
}

.ProfileInformation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.Description {
  font-weight: 400;

  h2 {
    font-size: 26px;
    color: white;
    display: inline-block;
  }
}

.Social {
  display: flex;
  align-items: center;
  gap: 16px;
}
