@import "theme";
@import "components";

.Wrapper {
  @extend .BentoBox;
  display: grid;
  gap: 22px;
  border-radius: $radiusL;
  padding: 22px;

  h2 {
    margin-bottom: 8px;
  }

  a {
    flex-shrink: 0;
  }
}

.Decoration {
  display: inline-block;
  background-image: linear-gradient(to right, #2babe4 0%, #9529ed 100%);
  width: 1em;
  height: 0.15em;
  border-radius: 0.25em;
  margin-right: 4px;
}

.ProfileInformation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.Social {
  display: flex;
  align-items: center;
  gap: 16px;
}
