@import "../../styles/theme";

$color-primary: #ffffff;

.Wrapper {
  display: grid;
  gap: 16px;
  border-radius: $radiusL;
  padding: 16px;
  color: $color-primary;
  background: url("/img/profile-bg.svg") no-repeat;
  background-size: cover;
  @include themed {
    background-color: t("bgPrimary");
  }
}

.ProfileInformation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}

.Avatar {
  border-radius: 50%;
  display: block;
  border: 4px solid #0000;
  background: linear-gradient(40deg, #ab57ec 0%, #0ef48d 100%) border-box;
}

.Information {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 4px;

  span {
    font-weight: bold;
    color: white;
  }
  .Name {
    font-size: 26px; //TODO text component
    font-weight: bold;
    color: #4ecdff;
  }
}

.Description {
  font-size: 12px; //TODO text component
  font-weight: 400;
}

.Social {
  display: flex;
  align-items: center;
  gap: 16px;
}
