@import "../../styles/theme";

.Wrapper {
  background: url("/img/map.png") no-repeat center;
  background-size: cover;
  border-radius: $radiusL;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AstroHome {
  margin-left: 120px;
}
