@import "theme";

.Wrapper {
  position: relative;
  border-radius: $radiusL;
  overflow: hidden;
  .Actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px;
    position: absolute;
    bottom: 0;

    .Button {
      height: 40px;
    }
  }
}

.Marker {
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid white;
  border-radius: 50%;
  background-color: rgba(103, 145, 242, 0.692);
}
