@import "../../../styles/theme";

.Form {
  height: 150px;
  width: 100%;
  position: relative;
  border-radius: 10px;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 90px;
  grid-template-areas:
    "name name email email ."
    "msg msg msg msg send";
  grid-template-rows: 30px auto;
  gap: 8px;
  @include themed {
    background: t("bgPrimary");
  }
}

.FormItem {
  border-radius: 8px;
  border: none;
  background: #080d20;
  padding: 8px;
  color: white;

  &::placeholder {
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    &::placeholder {
      color: white;
    }
  }

  &__message {
    @extend .FormItem;
    height: 100%;
    grid-area: msg;
  }

  &__name {
    @extend .FormItem;
    grid-area: name;
  }

  &__email {
    @extend .FormItem;
    grid-area: email;
  }

  &__submit {
    grid-area: send;
    height: 50px;
    align-self: end;
  }
}

.AstroAdopt {
  position: absolute;
  top: -70%;
  right: 8px;
}
