@import "../../../styles/theme";

.Form {
  height: 150px;
  width: 100%;
  position: relative;
  border-radius: $radiusL;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 90px;
  grid-template-areas:
    "name name email email ."
    "msg msg msg msg send";
  grid-template-rows: 30px auto;
  gap: 8px;
  animation: appear 2.5s linear;

  :global(.rendered) & {
    animation: none;
  }

  @include themed {
    background: t("bgPrimary");
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.FormItem {
  border-radius: 8px;
  border: none;
  @include themed {
    background: t("bgSecondary");
  }
  padding: 8px;
  color: white;

  &::placeholder {
    color: #c0bebe;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    &::placeholder {
      color: white;
    }
  }

  &__message {
    @extend .FormItem;
    height: 100%;
    grid-area: msg;
  }

  &__name {
    @extend .FormItem;
    grid-area: name;
  }

  &__email {
    @extend .FormItem;
    grid-area: email;
  }

  &__submit {
    grid-area: send;
    height: 50px;
    align-self: end;
  }
}

.AstroAdopt {
  position: absolute;
  top: -70%;
  right: 8px;
}
