@import "../../styles/theme";

.Wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: $radiusL;
  background: url("/img/education-bg.svg") no-repeat;
  background-size: cover;
  padding: 8px;

  @include themed {
    background-color: t("bgPrimary");
  }
}

.AstroEducation {
  position: absolute;
  top: -1px;
  left: -1px;
}

.Skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 65%;
  gap: 4px;
  margin-left: auto;
  margin-top: 20px;
}
