@import "../../styles/theme";

.Wrapper {
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  overflow: auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  z-index: 10;
  transition: all 0.5s;

  &__inactive {
    @extend .Wrapper;
    width: 0;
    visibility: hidden;
  }

  @include themed {
    background: t("bgPrimary");
  }
}

.Close {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 15;
  cursor: pointer;
}
