@import "../../../styles/theme";

.Wrapper {
  width: 100%;
  height: 100%;
  padding: 8px;
  gap: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: $radiusL;

  @include themed {
    background: t("bgPrimary");
  }
}

.Button {
  height: 100%;
  width: 100%;
}

.Buttons {
  display: flex;
  gap: 8px;
  height: 100%;
  width: 100%;
}
