@import "theme";
@import "components";

$main-gap: 18px;

.Wrapper {
  @extend .BentoBox;
  display: flex;
  align-items: flex-end;
  position: relative;
  padding: 10px;
  border-radius: $radiusL;
  overflow: hidden;
  cursor: pointer;

  h2 {
    color: #000000;
    z-index: 4;
  }

  &:hover {
    .PaperMedium {
      width: calc(47% - 16px);
      height: calc(100% - 26px);
    }
    .PaperLight {
      width: calc(47% - 32px);
      height: calc(100% - 42px);
    }
  }
}

@mixin paper($bg, $h, $w, $z) {
  background: $bg;
  z-index: $z;
  width: $w;
  height: $h;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 10px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.PaperDark {
  @include paper(rgb(33, 38, 45), calc(100% - 16px), 45%, 1);
}

.PaperMedium {
  @include paper(rgb(68, 76, 88), calc(100% - 32px), calc(45% - 16px), 2);
  transition: all 0.5s;
}

.PaperLight {
  @include paper(rgb(170, 179, 190), calc(100% - 48px), calc(45% - 32px), 3);
  transition: all 0.2s;
}

.Astronaut {
  position: absolute;
  right: 8px;
}

.Link {
  position: absolute;
  top: 8px;
  right: 8px;
  fill: white;
}
