@import "../../styles/theme";

.Button {
  color: #ffffff;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: none;
  border-radius: $radiusL;
  background-size: 200% auto;
  transition: 0.5s;
  background-image: linear-gradient(
    to right,
    #ab57ec 0%,
    #9726ed 50%,
    #2aabe4 100%
  );
  &:hover {
    background-position: right center;
  }
  cursor: pointer;
}
