@import "../../styles/theme";

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  border: none;
  border-radius: $radiusL;
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    #ab57ec 0%,
    #9726ed 50%,
    #2aabe4 100%
  );
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-position: right center;
  }

  &__disabled {
    @extend .Button;
    color: #d8cdcd;
    background-image: linear-gradient(to right, #717171 0%, #e4e4e4 100%);
    pointer-events: none;
  }
}

.Text {
  position: relative;
  color: white;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}
