.AstronautImage {
  z-index: 1;
}

.Wrapper {
  position: relative;
}

.SpaceContainer {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/img/astro-bg.svg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.StarsWrapper {
  width: 100%;
  height: 120%;
  position: absolute;
  transform: rotateZ(45deg);
}

@mixin shooting-star($top, $left, $delay) {
  position: absolute;
  transform: rotate(60deg);
  height: 3px;
  border-radius: 0 1.5px 1.5px 0;
  background: linear-gradient(-45deg, #86c6f9, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 14000ms infinite ease-in-out,
    shooting 14000ms ease-in-out infinite;
  top: $top;
  left: $left;
  animation-delay: $delay;
}

.ShootingStar_1 {
  @include shooting-star(45%, 0%, 0s);
}
.ShootingStar_2 {
  @include shooting-star(25%, 0%, 2s);
}
.ShootingStar_3 {
  @include shooting-star(80%, 35%, 4s);
}
.ShootingStar_4 {
  @include shooting-star(10%, 70%, 6s);
}

@keyframes tail {
  0% {
    width: 0;
  }

  5% {
    width: 200px;
  }

  20%,
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(580px);
  }
}
