@import "../../styles/theme";

.Wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 4px;
  border-radius: 10px;
  @include themed {
    background: t("bgPrimary");
  }
}

.SelectedTheme {
  height: 100%;
  width: 50%;
  background: #4e5a81;
  border-radius: 8px;

  &__light {
    @extend .SelectedTheme;
    margin-right: auto;
  }

  &__dark {
    @extend .SelectedTheme;
    margin-left: auto;
  }
}

.Checkbox {
  appearance: none;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 3;
}

.Icon {
  position: absolute;
  top: 0;
  fill: white;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &__light {
    @extend .Icon;
    left: 0;
  }

  &__dark {
    @extend .Icon;
    right: 0;
  }
}

.IconSelected {
  fill: white;
}
