.Wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background: #313960;
  padding: 4px;
  display: flex;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;

  &__light {
    @extend .Wrapper;
    justify-content: start;
  }
  &__dark {
    @extend .Wrapper;
    justify-content: end;
  }
}

.SelectedTheme {
  height: 100%;
  width: 50%;
  background: #4e5a81;
  border-radius: 8px;
}

.Checkbox {
  appearance: none;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
}
