@import "theme";
@import "components";

.Wrapper {
  @extend .BentoBox;
  display: flex;
  align-items: center;
  justify-content: center;
  @include themed {
    background: t("bgPrimary");
  }
}

.Content {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #98cfff;
  font-size: 12px;
}
