@import "theme";

.Wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 80px 22px 0 22px;
}

.MessagesWrapper {
  min-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: height 0.5s;
  position: relative;
}

.Message {
  width: fit-content;
  border-radius: 24px;
  padding: 8px 14px;
  animation: up 0.3s linear;
  color: #ffffff;

  :global(.rendered) & {
    animation: none;
  }

  &__default {
    @extend .Message;
    background: rgba(80, 78, 78, 0.615);
    backdrop-filter: blur(2px);
  }
  &__user {
    @extend .Message;
    background: #2c92ff;
  }
  &__last {
    @extend .Message;
    border-radius: 24px 24px 24px 0px;
  }

  @keyframes up {
    from {
      transform: translateY(50%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.MessageContainer {
  width: 100%;
}
