@import "../../styles/theme";

.Wrapper {
  width: 100%;
  overflow: hidden;
  height: 100%;
  position: relative;
  color: white;
  border-radius: $radiusL;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 24px;
  font-weight: bold;

  @include themed {
    background: t("bgPrimary");
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    background-color: white;
    z-index: 0;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.Company {
  position: relative;
  @include themed {
    color: t("bgPrimary");
  }
  z-index: 5;
  &::after {
    content: "at BBVA Technology";
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    top: 100%;
    left: 0;
    width: 100%;
    text-decoration: underline;
  }
}
