$main-gap: 18px;

.Wrapper {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: calc(100% - 12px);
  padding: 8px;
  z-index: 2;
  border-radius: 10px 0px 10px 10px;
  margin-top: 12px;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    top: -12px;
    right: 0;
    width: 60px;
    height: 13px;
    border-radius: 10px 10px 0px 0px;
    z-index: 2;
  }
  &:hover {
    .Paper {
      height: 12px;
      top: -12px;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 16px;
  }
}

.primary {
  background: #44b4e0;
  color: white; //TODO use var

  &:before {
    background: #44b4e0;
  }
}

.secondary {
  background: #5c69ac;
  color: white; //TODO use var

  &:before {
    background: #5c69ac;
  }
}

.LinkIcon {
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 2;
}

.Paper {
  height: 0;
  width: calc(100% - 16px);
  background-color: white;
  left: 8px;
  position: absolute;
  top: 0;
  z-index: 1;
  border-radius: 4px 4px 0px 0px;
  transition: all 0.2s ease-in-out;
}
