@import "../../../styles/theme";

.Wrapper {
  width: 100%;
  height: 100%;
  padding: 32px;
  border-radius: $radiusL;
  @include themed {
    border: 4px solid t("bgPrimary");
  }
}

.Skills {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
}

.Title {
  font-size: 28px;
  color: #2cabe4;
}
