@import "../styles/theme";

.Container {
  padding: 22px;
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 22px;
  @include themed {
    background: t("bgMain");
  }
}

@mixin columnRow($grow, $rows) {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 22px;
  flex: $grow 0 0px;
  grid-template-rows: $rows;
}

.LeftColumn {
  @include columnRow(4, auto 260px minmax(190px, 1fr));
}

.CenterColumn {
  @include columnRow(5, 95px 24px minmax(500px, 1fr));
}

.RightColumn {
  @include columnRow(4, minmax(330px, 3fr) 90px minmax(200px, 1fr));
}
