.Container {
  padding: 22px;
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 22px;
}

@mixin column($grow, $rows) {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 22px;
  flex: $grow 0 0px;
  grid-template-rows: $rows;
}

.LeftColumn {
  @include column(4, auto 260px 1fr);
}

.CenterColumn {
  @include column(5, 90px 24px minmax(500px, 1fr));
}

.RightColumn {
  @include column(4, minmax(308px, 3fr) 90px 2fr);
}
