@import "theme";
@import "components";

.Wrapper {
  @extend .BentoBox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;

  @include themed {
    background: t("bgPrimary");
  }
}

.Title {
  font-size: 28px;
  color: white;
}

.Level {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 4px;
  font-weight: 400;
  @include themed {
    color: t("colorSecondary");
  }
}

.Label {
  font-size: 12px;
  @include themed {
    color: t("colorSecondary");
  }
}
